@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 42 62% 97%;
    --foreground: 196 48% 17%;
    --card: 0 0% 100%;
    --card-foreground: 197 42% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 197 42% 18%;
    --primary: 184 72% 32%;
    --primary-foreground: 48 100% 98%;
    --secondary: 44 92% 85%;
    --secondary-foreground: 196 52% 20%;
    --muted: 42 54% 91%;
    --muted-foreground: 195 19% 38%;
    --accent: 30 99% 60%;
    --accent-foreground: 35 100% 12%;
    --border: 39 45% 82%;
    --input: 42 45% 86%;
    --ring: 184 72% 36%;

    --destructive: 0 74% 55%;
    --destructive-foreground: 0 0% 100%;
    --info: 198 84% 45%;
    --info-foreground: 0 0% 100%;
    --success: 154 63% 35%;
    --success-foreground: 0 0% 100%;
    --warning: 31 97% 55%;
    --warning-foreground: 0 0% 100%;
  }

  .dark:root {
    --background: 196 41% 10%;
    --foreground: 45 88% 95%;
    --card: 197 44% 14%;
    --card-foreground: 43 90% 94%;
    --popover: 197 44% 14%;
    --popover-foreground: 43 90% 94%;
    --primary: 39 97% 63%;
    --primary-foreground: 197 58% 14%;
    --secondary: 190 42% 24%;
    --secondary-foreground: 45 80% 92%;
    --muted: 194 38% 20%;
    --muted-foreground: 42 30% 74%;
    --accent: 176 71% 44%;
    --accent-foreground: 186 100% 8%;
    --border: 194 29% 30%;
    --input: 194 29% 30%;
    --ring: 39 97% 63%;

    --destructive: 4 76% 57%;
    --destructive-foreground: 0 0% 100%;
    --info: 197 78% 60%;
    --info-foreground: 0 0% 100%;
    --success: 154 65% 44%;
    --success-foreground: 0 0% 100%;
    --warning: 38 98% 59%;
    --warning-foreground: 18 80% 10%;
  }
}
